.member{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.all-members{
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  /* justify-content: flex-start; */
  /* background-color: aquamarine; */
  margin: 3em 3em 0 3em
}
.table-title{
  width: fit-content;
  /* background-color: blanchedalmond; */
  align-self: flex-start;
}