@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.App {
  text-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Roboto Mono', monospace;
}

.nav{
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: center;
  height: 5em;
  background-color: papayawhip;
}

.nav-contents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
  align-content: center;
}
.nav-login{
  display: flexbox;
  border-radius: .5em;
  height: fit-content;
  padding: .4em;
  margin-left: 1em;
  align-self: center;
  background-color: papayawhip;
 border: none;
 color: rgb(211, 157, 110);
}
.nav-actions{
  align-self: center;
  margin-left: 1em;
}